<h1>App Component</h1>
<app-fancy-btn>Submit</app-fancy-btn>
<app-fancy-btn (click)="btnClicked()">Click Me</app-fancy-btn>
<app-card>
  <header>Angular</header>
  <content
    >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi,
    provident voluptatibus laudantium ea inventore quisquam sint ex accusamus
    modi, maiores asperiores culpa accusantium itaque, consequuntur quia hic
    quasi recusandae tempore?</content
  >
  <footer>footer</footer>
</app-card>
<app-customer-list-component></app-customer-list-component>
<app-template-variable></app-template-variable>

  <ng-container>
    This is inside ng-container
  </ng-container>

  <app-template></app-template>